<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<!-- db basic beans -->
	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource" destroy-method="close">
		<property name="driver" value="${jdbc.class}" />
		<property name="driverUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="verbose" value="${jdbc.debug}" />
		<property name="trace" value="${jdbc.debug}" />
		<property name="delegateProperties" value="user=${jdbc.username},password=${jdbc.password}" />
		<property name="alias" value="${proxool.alias}" />
		<property name="maximumConnectionCount" value="${proxool.max.conn}" />
		<property name="minimumConnectionCount" value="${proxool.min.conn}" />
		<property name="prototypeCount" value="${proxool.prototype.count}" />
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>