.errorTip{
	background-image:url(../../images/validator/access_disallow.gif);
	background-repeat:no-repeat;
	padding-left:16px;
}

.errorInput{
	background-color:#FFCC33;
}

.validTip{
	background-image:url(../../images/validator/access_allow.gif);
	background-repeat:no-repeat;
	background-position:left top ;
	padding:2px;
}