.order-body{ background-color: #f3f3f3;}
.order-item li{ margin-top: 1rem; height: 2rem; line-height: 2rem; background-color: #fff; font-size: 0.65rem;}
.order-item1 li{ margin-top: 1rem; height: 2rem; line-height: 2rem; background-color: #fff; font-size: 0.65rem;}
.lab-title{ font-size: 0.65rem; display: inline-block; width: 4rem; text-align: center;}
.order-text{ border: none; background: none; height: 1.8rem; line-height: 1.8rem; vertical-align: middle;}
.order-text1{ border: none; background: none; height: 1.8rem; line-height: 1.8rem; vertical-align: middle;     /* margin-left: 100px; */
    width: 26%;}

.order-handle{ padding: 0 1.35rem; padding-top: 1.25rem;}
.order-btn{ background-color: #da003d; color: #fff; font-size: 0.7rem; border-radius: 3px;}
.order-btn1{ background-color: #da003d; color: #fff; font-size: 0.7rem; border-radius: 3px;width: 38%;float: right;margin-top: 3px;    margin-right: 35px;}
.price{ color: #da003d;}

.search-panel{ padding: 0 0.5rem; margin: 0.5rem auto;}
.search-form{ height: 1.25rem; line-height: 1.25rem; background-color: #fff; border-radius: 3px; padding: 0 0.25rem; width: 12rem; display: inline-block; vertical-align: middle;}
.search-icon{ display: inline-block; width: 0.7rem; height: 0.7rem; vertical-align: middle; background: url("../images/icon-search.png") no-repeat; background-size: cover;}
.search-text{ background: none; border: none; margin-left: 0.5rem;}
.search-btn{ background: none; border: none; color: #da003d; font-size: 0.6rem;}

.bill-list{ margin-top: 0.5rem; background-color: #fff;}
.bill-list li{ padding: 0.6rem; border-bottom: 1px solid #d1d1d1; font-size: 0.6rem;}
.bill-list-title{ margin-bottom: 0.5rem;}
.bill-money { float: right; font-size: 0.75rem;}

.user-list{ padding-top: 0.6rem;}
.user-list li{ margin-bottom: 0.6rem; background-color: #fff;}
.user-list li a{ display: block; padding: 0 0.5rem; font-size: 0.6rem; color: #333; height: 2rem; line-height: 2rem;}
.user-icon{ display: inline-block; width: 1.2rem; height: 1.2rem; background-repeat: no-repeat; background-size: cover; vertical-align: middle; margin-right: 0.5rem;}
.arrow-icon{ display: inline-block; width: 0.4rem; height: 0.65rem; background: url("../images/user-arrow.png") no-repeat; background-size: cover; vertical-align: middle; float: right; margin-top: 0.65rem;}
.icon1{ background-image: url("../images/user-icon1.png");}
.icon2{ background-image: url("../images/user-icon2.png");}
.icon3{ background-image: url("../images/user-icon3.png");}
.icon4{ background-image: url("../images/user-icon4.png");}
.icon5{ background-image: url("../images/user-icon5.png");}
.icon6{ background-image: url("../images/pay1.png");}
.icon7{ background-image: url("../images/pay2.png");}
.icon8{ background-image: url("../images/pay3.png");}

